name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

defaults:
  run:
    working-directory: teacher_app

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Read config.json
      id: config
      uses: actions/github-script@v6
      with:
        script: |
          const fs = require('fs');
          const config = JSON.parse(fs.readFileSync('.github/workflows/config.json', 'utf8'));

          core.setOutput("install", config.install || "");
          core.setOutput("build", config.build || "");
          core.setOutput("test", config.test || "");
          core.setOutput("start", config.start || "");
          
          core.setOutput("runtime", config.runtime || "node");
          core.setOutput("runtime_version", config.runtime_version || "");

    - name: Setup Environment
      uses: ./.github/workflows/actions/setup-environment/
      with:
        runtime: ${{ steps.config.outputs.runtime }}
        version: ${{ steps.config.outputs.runtime_version }}

    - name: Install dependencies
      if: ${{ steps.config.outputs.install != '' }}
      run: ${{ steps.config.outputs.install }}

    - name: Run tests
      if: ${{ steps.config.outputs.test != '' }}
      run: ${{ steps.config.outputs.test }}

    - name: Build project
      if: ${{ steps.config.outputs.build != '' }}
      run: ${{ steps.config.outputs.build }}

    - name: Start
      if: ${{ steps.config.outputs.start != '' }}
      run: ${{ steps.config.outputs.start }}
